@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-color:#FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

.swiper {
	max-width: 100%;
  width: 100%;
  height: 600px;
}

.image-item {
	width: 800px;
	height: 600px;
	object-fit: cover;
}

.main-title {
	text-align: center;
	padding:10px 0;
}

.setellite-plane {
	display: flex;
	justify-content: center;
	margin-left: 30px;
}


.title {
	background-color: #FFC7AF;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	width: 900px;
}


.list {
  display: none;
  list-style-type: disc; 
}

.title:hover {
	background-color: #FFC7AF;
}

.list.show {
	display: block;
}

.category {
	padding-top: 150px;
}

.category-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin: 10px 50px 10px 300px;
	padding-top: 60px;
	padding-bottom: 20px;
}

.info {
	padding: 30px 0;
	margin-left: 40px;
}


.category-content{
	display: flex;
	justify-content: center;
}

.category-img{
	width: 450px;
	height: 300px;
}


.address {
  background-color: black;
	color: #fff;
	width: 1100px;
	height: 400px;
	margin: 40px 0 0 250px;
	padding: 60px 0;
}

.address .sec-title {
	padding: 0 40px;
  margin-bottom: 30px;
	font-weight: bold;
}

.address .flex-item {
  display: flex;
  align-items: cenetr;
  justify-content: space-between;
}

.address .item {
  text-align: center;
}

.address .item img {
	margin-top: -30px;
	margin-bottom: 50px;
	margin-right: 30px;
	width: 500px;
	height: 350px;
}

.address .item p {
  margin-bottom: 30px;
	padding: 0 20px;
}

.store-title{
	text-align: center;
	padding: 30px 0;
}

.store-area {
	display: flex;
	justify-content: center;
}

.store-area-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 20px;
}

.store-area-text {
	text-align: center;
	padding-bottom: 50px;
}

/* マップマーク */
.dli-pin-fill {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 0.8em;
  height: 0.8em;
  background: currentColor;
  border: 0.1em solid currentColor;
  border-radius: 40% 60% 0% 100% / 40% 100% 0% 60%;
  box-sizing: content-box;
  transform: rotate(45deg);
	top: -0.1em;
}

.dli-pin-fill::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 18%;
  width: 0.336em;
  height: 0.336em;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.footer {
	background-color: darkgray;
	width: 100%;
	height: 100px;
}

.footer .flex-item {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.footer .item {
	margin: 0 10px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
	.image-item {
		padding: 20px 0px 0 50px;
		width: 550px;
		height: 550px;
	}

	.main-title {
		max-width: calc(12 * 1em); /* 12文字分の幅 */
		text-align: left;/* テキストを左寄せにする */
		margin: 0 auto;
	}

	.setellite-plane {
		display: flex;
		justify-content: center;
	}

	.title {
		width: 400px; 
	}

	.list {
		width: 400px; 
	}

	.list-text {
		font-size: 14px;
	}


	.category-title {
		margin: 0 auto;
		text-align: center;
		padding-right: 230px;
	}

	.category-title:nth-of-type(1) { /* 1番目の .category-title 要素にのみ適用 */
		padding-right: 170px;
	}

	.category-content {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	.category-img {
		width: 400px;
		height: 300px;
	}

	.category .info {
		padding: 0 0 50px 0;
		margin-right: 40px;
	}


	.address {
		width: 400px;
		height: 600px;
		margin: 0 auto;
		padding: 20px 0;
	}

	.address .sec-title {
		padding-left: 20px;
	}

  .address .flex-item {
    flex-direction: column;
  }

	.address .item .address-img {
		width: 400px;
		height: 270px;
	}

	.address .item p {
		padding: 0 0 20px 0;
	}

	.responsive-hours {
		white-space: nowrap;
		padding-bottom: 20px;
	}

	.footer {
		margin-top: 30px;
	}
	
}
