@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-color:#FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}


.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
	width:94%;
	 margin:0 auto;
}

.slider img {
	 width:600px;/*スライダー内の画像を横幅100%に*/
	 height:500px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
	 margin:0 ;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
	 position: absolute;/*絶対配置にする*/
	 top: 42%;
	 cursor: pointer;/*マウスカーソルを指マークに*/
	 outline: none;/*クリックをしたら出てくる枠線を消す*/
	 border-top: 2px solid blue;/*矢印の色*/
	 border-right: 2px solid blue;/*矢印の色*/
	 height: 15px;
	 width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
	left: -1.5%;
	transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
	right: -1.5%;
	transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	text-align:center;
 	margin:20px 0 0 0;
}

.slick-dots li {
	display:inline-block;
	margin:0 5px;
}

.slick-dots button {
	color: transparent;
	outline: none;
	width:8px;/*ドットボタンのサイズ*/
	height:8px;/*ドットボタンのサイズ*/
	display:block;
	border-radius:50%;
	background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
	 background:#333;/*ドットボタンの現在地表示の色*/
}

.slider-scrollbar .scrollbar-track {
	height: 2px;
	width: 100%;
	background: #ccc;
	position: relative;
	border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
	height: 4px;
}

.slider-scrollbar .scroullbar-thumb {
	position: absolute;
	height: 100%;
	width: 50%;
	background: #000;
	border-radius: inherit;
}

.slider-scrollbar .scroullbar-thumb::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	bottom: -10px;
}


.main-title {
	text-align: center;
	padding:10px 0;
}

.category-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin:50px 0 20px;
}

.info{
	width: 700px;
	margin-left: 50px;
	padding: 30px 0;
}


.category-content{
	display: flex;
}

.category-img{
	width: 450px;
	height: 300px;
}

.title {
	background-color: #FFC7AF;
	margin-left: 230px;
	cursor: pointer;
	width: 900px;
}


.list {
  display: none;
  list-style-type: disc; 
	margin-left: 230px;
}

.title:hover {
	background-color: #FFC7AF;
}

.list.show {
	display: block;
}

.address {
  background-color: black;
	color: #fff;
	width: 1100px;
	height: 400px;
	margin-top: 30px;
	margin-left: 70px;
	padding: 60px 0;
}

.address .sec-title {
	padding: 0 40px;
  margin-bottom: 30px;
	font-weight: bold;
}

.address .flex-item {
  display: flex;
  align-items: cenetr;
  justify-content: space-between;
}

.address .item {
  text-align: center;
}

.address .item img {
	margin-top: -30px;
	margin-bottom: 50px;
	margin-right: 30px;
	width: 500px;
	height: 350px;
}

.address .item p {
  margin-bottom: 30px;
	padding: 0 20px;
}

.store-title{
	text-align: center;
	padding: 30px 0;
}

.store-area {
	display: flex;
	justify-content: center;
}

.store-area-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 20px;
}

.store-area-text {
	text-align: center;
	padding-bottom: 50px;
}

/* マップマーク */
.dli-pin-fill {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 0.8em;
  height: 0.8em;
  background: currentColor;
  border: 0.1em solid currentColor;
  border-radius: 40% 60% 0% 100% / 40% 100% 0% 60%;
  box-sizing: content-box;
  transform: rotate(45deg);
	top: -0.1em;
}

.dli-pin-fill::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 18%;
  width: 0.336em;
  height: 0.336em;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.footer {
	background-color: darkgray;
	width: 100%;
	height: 100px;
}

.footer .flex-item {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.footer .item {
	margin: 0 10px;
}